main {
    background-color: lightgoldenrodyellow;

    .home {
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;    
    
        &__content {
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;    
    
            &--title {
                font-size: 3em;
                font-weight: bold;
            }
    
            &--messagge {
                font-size: 1.5em;
            }
    
            &--button {
    
                .link {
                    text-decoration: none;
                    font-size: 1.2em;
                }
            }
        }
    }
}
