.search {
    min-height: 90vh;
    text-align: center;
    width: 80%; 
    margin: 0px auto;

    h1 {
        font-size: larger;
        padding: 30px 0px;
    }

    .form {
        padding: 30px 0px;
        display: flex;
        flex-direction: column;

        &__search-bar {
            margin-bottom: 40px;
            height: 40px;
            
            input[type="text"] {
                width: 500px;
                height: inherit;
            }

            .button {
                height: inherit;
            }
        }

        &__filters {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &--field {
                width: 150px;
    
                select {
                    width: inherit;
                }
            }
        }

    }
    
        .loader__div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .grid__content {
        padding: 50px 0px;
        width: 100%;
        display: grid;
        column-gap: 4%;
        row-gap: 50px;
        grid-template-columns: 22% 22% 22% 22%;
    }
}