.footer {
    background-color: #cb1414;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

    &__link {
        text-decoration: none;
        margin: 50px 0px;
        color: #fff;
    }
}