.navbar {
    background-color: rgb(175, 175, 175);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img {
        width: 300px;
        height: 100px;
        margin: 10px 50px 10px 150px;
    }

    &__links {
        margin: 0px 100px;
        width: 30vw;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;        

        &__link {
            color: #fff;
            text-decoration: none;
        }
    }
}