.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    &__field {
        width: 200px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    button {
        width: 125px;
    }
}